<!DOCTYPE html>
<html>

    <body>
        <form action = 'login' method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="username"><br>
            <input type="password" name="password" placeholder="password"><br>
            <input type="submit">
        </form>
        <li><a href="/register">Register if you do not have a username and password</a></li>
    </body>

    <div>
        {% for message in messages %}
        <h3> {{message}} </h3>
        {% endfor %}
    </div>
</html>
    